/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.add {
  margin: 1em 0;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header img {
  width: 100%;
}

.header__more {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.page__main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add__field,
.task-list__field,
.task-list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.add__inner {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}


/* Heading */

.page__subtitle,
.add__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}


/* New Task */

.add__label {
  display: block;
  margin: 0 0 20px;
}

.add__field {
  width: 318px;
}


/* Task list */

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__item > * {
  vertical-align: middle;
}

.task-list__checkbox {
  margin: 0 10px;
}

.task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__field {
  width: 226px;
}

.button__contents {
  display: block;
  width: 2em;
  height: 2em;
  background: url('remove.svg') center center no-repeat;
  background-size: 2em 2em;
  margin: 0 auto;

  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__contents:hover {
  transform: rotateZ(0);
}


/* Completed */

.task-list_type_completed .task-list__label {
  text-decoration: line-through;
  color: #888;
}


/* Edit Task */

.task-list__field {
  display: none;
}

.task-list__item_mode_edit .task-list__field {
  display: inline-block;
  width: 224px;
}

.task-list__item_mode_edit .task-list__label {
  display: none;
}
